<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="oppgave13-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <select id="type" on-change="typeChanged">
      <option value="length">Lengde</option>
      <option value="temp">Temperatur</option>
    </select>
    <select id="conversion" on-change="convChanged">
      <template is="dom-if" if="[[erLengde]]">
        <option value='km2m'>km til miles</option>
        <option value='m2km'>miles til km</option>
      </template>
      <template is="dom-if" if="[[erTemp]]">
          <option value='c2f'>Celcius til Farenheit</option>
          <option value='f2c'>Farenheit til Celcius</option>
        </template>
    </select><br>
    <input type="number" value="{{origin::input}}"/> -> <input type="text" value="[[calculated]]"/>
  </template>

  <script>
    Polymer({

      is: 'oppgave13-app',

      properties: {
        calculated: {
          type: String,
          computed: 'calculate(origin)'
        },
        oneKm: {
          type: Number,
          value: '0.621371192' //miles
        },
        oneMile: {
          type: Number,
          value: '1.609344' //km
        },
        type: {
          type: String,
          value: 'length'
        },
        conv: {
          type: String,
          value: 'km2m'
        },
        erLengde: {
          type: Boolean,
          value: true
        },
        erTemp: {
          type: Boolean,
          value: false
        }

      },
      calculate: function (origin) {
        if (this.type == 'temp') {
          if (this.conv == 'c2f') {
            return (origin * 9 / 5 + 32);
          }
          else if (this.conv == 'f2c') {
            return ((origin - 32) * 5 / 9);
          }
        }
        else if (this.type == 'length') {
          if (this.conv == 'm2km') {
            return (origin * this.oneKm);
          }
          else if (this.conv == 'km2m') {
            return (origin * this.oneMile);
          }
        }
      },
      typeChanged: function (e) {
        this.type = e.target.value;
        if (this.type == 'temp') {
          this.erTemp = true;
          this.erLengde = false;
          this.$.conversion.value = 'c2f';
        }
        else if (this.type == 'length') {
          this.erLengde = true;
          this.erTemp = false;
          this.$.conversion.value = 'km2m';
        }
        this.origin = this.origin*1+1;
        this.origin = this.origin*1-1;
      },
      convChanged: function (e) {
        this.conv = e.target.value;
        this.origin = this.origin*1+1;
        this.origin = this.origin*1-1;
      }
    });
  </script>
</dom-module>