<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>List ut</title>
</head>

<body>
  <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Postnummer</th>
            <th>Stedsnavn</th>
          </tr>
        </thead>
        <tbody>
          {% for code in postalCodes %}
            {% if code.adminName1 == 'Oppland' %}
              <tr>
                <td>{{ code.postalCode }}</td>
                <td>{{ code.placeName }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>
  </div>
</body>

</html>