<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>List ut</title>
</head>

<body>
  <div class="container">

    <table class="table">
        <thead>
          <tr>
            <th>Emnekode</th>
            <th>Emnenavn</th>
            <th>O/V</th>
            <th>Studiepoeng pr semester<br>
              <span>S1(h)   S2(v)   S3(h)   S4(v)   S5(h)   S6(v)</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for linje in row %}
            <tr>
              <td>{{ linje.subject }}</td>
              <td>{{ linje.fag }}</td>
              <td>{{ linje.type }}</td>
              <td>     </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</body>

</html>