<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>List ut</title>
</head>

<body>
  <div class="container">
    <h1>Registrerte brukere</h1>
    {% for bruker in brukere %}
      <div class="row">
        <div class="col-sm-2">
          {% if bruker.avatar is null %}
            <img src="user-avatar.png">
          {% else %}
            <img src="avatar.php?id={{ bruker.id }}">
          {% endif %}
        </div>
        <div class="col-sm-6">
          <h4>{{ bruker.uname }}</h4>
        </div>
      </div>
      <br>
    {% endfor %}
  </div>
</body>

</html>