<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>Last opp</title>
</head>

<body>
  <div class="container">
    {% if innlogget == true %}
      <form action="oppgave4.php" method="post" enctype="multipart/form-data">
        <h1>Last opp bilde:</h1>
        <input type="file" name="lastOppFil" id="lastOppFil">
        <br><br>
        <button type="submit" class="btn btn-primary">Last opp</button>
      </form>
    {% else %}
    <p>Du må logge inn for å få tilgang til denne siden</p>
    {% endif %}
  </div>
</body>

</html>