<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>Logg inn</title>
</head>

<body>
  <div class="container">
    {% if innlogget == true %}
      <h1>Velkommen, {{ bruker.uname }}</h1>
      <a href="oppgave2.php?loggut=true" class="btn btn-primary">Logg ut</a>
    {% else %}
      <h1>Logg inn</h1> 
      {% if resultat == false and brukernavn is defined%}
        <h4>Det finnes ingen bruker med denne brukernavn/passord kombinasjon i databasen!</h4>
      {% endif %}
      <form action="oppgave2.php" method="post">
        <div class="form-group">
          <label for="navn">Brukernavn:</label>
            <input type="text" class="form-control" id="navn" name="navn" value="{{ brukernavn }}" placeholder="Brukernavn" required>
        </div>
        <div class="form-group">
          <label for="pwdForm">Passord:</label>
          <input type="password" class="form-control" id="pwdForm" name="pwdForm" placeholder="Passord" required>
        </div>
        <button type="submit" class="btn btn-primary">Logg inn</button>
      </form>
    {% endif %}
  </div>
</body>

</html>