<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>Registrer</title>
</head>

<body>
  <div class="container">
    <h1>Registrer ny bruker</h1>
    {% if resultat.status == 'feil' %}
      <p>{{ resultat.feilmelding }}</p>
    {% endif %}
    <form onsubmit="return sammenlign(this)" action="oppgave3.php" id="registrerForm" method="post">
      <div class="form-group">
        <label for="navn">Brukernavn:</label>
          <input type="text" minlength="6" maxlength="32" class="form-control" id="navn" value="{{brukernavn}}" name="navn" placeholder="Brukernavn" required>
      </div>
      <div class="form-group">
        <label for="pwdForm">Passord:</label>
        <input type="password" minlength="8" class="form-control" id="pwdForm" name="pwdForm" placeholder="Passord" required>
      </div>
      <div class="form-group">
        <label for="GPwdForm">Gjenta passord:</label>
        <input type="password" class="form-control" id="GPwdForm" name="GPwdForm" placeholder="Passord" required>
      </div>
      <button type="submit" class="btn btn-primary">Registrer</button>
    </form>
  </div>

  <script>
    function sammenlign(e) {
      if(document.querySelector('#pwdForm').value == document.querySelector('#GPwdForm').value) {
        document.querySelector('#registrerForm').submit();
        return true;
      }
      else {
        alert("Passordene er ikke like!"); //Kan også gjøres med document.tingene
        return false;
      }
    }
    
  </script>
</body>

</html>